* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary: #df9409;
}

body {
    background-color: var(--primary);
}

.form-container h1 {
    color: #f8f5f1;
    margin-bottom: 20px;
    font-size: 40px;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.container {
    width: 50%;
}

.main {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 40px;
    flex-basis: 50%;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

.form-image {
    background-color: #f8f5f1;
    padding: 40px;
    flex-basis: 50%;
}

.form-image img {
    max-width: 100%;
}

form input {
    border-radius: 40px;
    margin-top: 30px;
    width: 100%;
    height: 45px;
    padding: 20px;
    border: none;
    font-size: 18px;
    background-color: #f8f5f1;

}

form input:focus {
    background-color: transparent;
    border: 1px solid var(--primary);
}

form button {
    border-radius: 40px;
    margin-top: 30px;
    width: 100%;
    height: 40px;
    border: none;
    background-color: var(--primary);
    color: #f8f5f1;
    font-size: 18px;
}

.container h2 {
    text-align: center;
    font-size: 30px;
}

p {
    margin-top: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    color: #0998df;
}

@media (max-width:700px) {
    .form-image {
        display: none;
    }

    .main {
        flex-direction: column;
    }

    .container {
        width: 80%;
    }
}